<div class="row hidden-sm hidden-xs" style="border-bottom:thick solid #ccc">
    <div class="col-sm-3 ">
        Items
    </div>
    <div class="col-sm-9 ">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-2">Size</div>
            <div class="col-md-2">Qty</div>
            <div class="col-md-2">Price</div>
        </div>
    </div>
</div>
<div class="row" style="padding:20px 0; border-bottom:1px solid #e5e5e5" ng-repeat="item in main.response.data.productsInCart">
    <div class="col-sm-3 col-xs-5">
        <img class="media-object" ng-src="{{::item.p_image}}" alt="{{::item.p_name}}">
    </div>
    <div class="col-sm-9 col-xs-7">
        <div class="row">
            <div class="col-md-6">
                <h4 class="media-heading">{{::item.p_name|uppercase}}</h4>
                <p>Style #:{{::item.p_style|uppercase}}</p>
                <p>Colour:{{::item.p_selected_color.name|uppercase}}</p>
            </div>
            <div class="col-md-2">{{::item.p_selected_size.code|uppercase}}</div>
            <div class="col-md-2">
                <input type="number" style="
    width: 50px;" ng-model="item.p_quantity" ng-change="main.updateQty()">
            </div>
            <div class="col-md-2">
                <h4 style="margin:0">{{item.p_quantity*item.p_price|currency}}</h4></div>
        </div>
    </div>
</div>
<div class="row meta">
    <div class="col-sm-3">
        <h4>Need help</h4>
        <h4>or have a question</h4>
        <p>Call customer service at 1-800-555-5555</p>
        <p><u>Chat with any of our stylists</u></p>
        <p><u>See return and exchange policy</u></p>
    </div>
    <div class="col-sm-9">
        <div class="">
            <span>Enter Promotion code or gift card</span>
            <input type="text" ng-model="main.coupon">
            <button class="btn" ng-click="main.getTotal()">Apply</button>
        </div>
        <hr>
        <span class="pull-left">Subtotal</span>
        <span class="pull-right">{{main.subTotal|currency}}</span>
        <br>
        <span class="pull-left" ng-if="main.discAmt">Promotion code {{main.coupon}}</span>
        <span ng-if="main.discAmt" class="pull-right">-{{main.discAmt|currency}}</span>
        <br>
        <span class="pull-left" ng-if="(main.total>50)">Estimated Shipping</span>
        <span ng-if="(main.total>50)" class="pull-right">Free</span>
        <br>
        <span class="pull-left">Estimated Total</span>
        <span class="pull-right">{{main.total|currency}}</span>
        <br>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
</div>